.category{
    width: 359px; 
    height: 120px; 
    border-radius: 5px;
    /* background-image: linear-gradient(#FF9C35, #FFD019 ); */

}
.shoes img{
    width: 336px;
    height: 202px;
}
.shoe{
    width: 360px;
    height: 532px;
    margin-right: 10px;
}

.bag img{
    width: 290px;
    height: 290px;
}

.product-head a{
    text-decoration: none;
    color: tomato;
}

.foot{
    width: 1212px;
    height: 455px;
}
.foot-input{
    width: 300px;
}
.bg-pink{
    background: #FEEAE9;
}

